//Script
script(src= '/project/5/js/jquery-3.3.1.js')
script(src= '/project/5/js/popper.min.js')
script(src= '/project/5/js/bootstrap.min.js')
script(src= '/project/5/js/customisableCSS.js')
script(src= '/project/5/js/my.js')
