extends ../../layout/index
block content
  // Corousel
  .corousel-button
    img.d-block.w-100(src='/img/home/carousel.jpg' alt='...')
  .paragraph-space.grey-background
    .container
      // Service
      .row
        // Service Infomation
        .col-lg-8
          h1.head-space.phone-text-center=service.name2
          img.rounded.img-space(src=`/img/product/${service.shortname}_01.jpg` alt='' width='100%')
          h3.head-space Description
          p.justify=service.description
        include ../../includes/gallery