extends layout/index
block content
    // Page not found
    .orange-background.paragraph-space.error-page
      .container.middle
        h1.text-center.head-space 404
        hr.error-line
        h3.text-center Sorry, the page not found
        p.text-center.justify The page you are looking for is no longer here

