doctype html
head
  meta(charset='utf-8')
  title Bike
  link(rel='stylesheet' href='/css/bootstrap.min.css' type='text/css')
  link(rel='stylesheet' href='/css/all.css' type='text/css')
  link(id='pagestyle' rel='stylesheet' href='/css/style.css' type='text/css')

//Include header
include includes/header

block content

//Include footer
include includes/footer

//Include scripts
include includes/scripts
