@charset "utf-8";
/* CSS Document */
body{
	font-family:'Roboto',sans-serif;
}

hr{
	background-color:#0052ce;
}

.navbar-collapse{
	flex-grow:0;
}

.orange-background{
	background-color:#0052ce;
	color:white;
}

.grey-background{
	background-color:#efefef;
}

.rounded{
    border-radius:10px!important;
}

.paragraph-space{
	padding-top:30px;
	padding-bottom:25px;
}

.head-space{
	margin-bottom:20px;
}

.img-space{
	margin-bottom:40px;
}

.img-space-card{
	margin-bottom:20px;
}

.img-product{
	display:inline-block;
}

.paragraph-product{
	margin-bottom:0px;
}

.round{
    border-radius:360px;
	border:5px solid #0052ce;
}
.rounded-home{
	border-radius:20px!important;
}
.footer{
	background-color:#343a40;
	color:white;
	padding-top:11px;
	padding-bottom:1px;
}

.error-line{
	background-color:white;
	width:300px;
}

.error-page{
	height:100vh;
}

.middle{
	margin-top:33vh;
}

.button{
	color:white;
    border-color:#0052ce;
	padding:10px 20px;
}

.btn:hover{
    color:white;
    text-decoration:none;
	background-color:#0052ce;
}

.btn.focus, .btn:focus{
    outline:none;
    box-shadow:none;
}

.corousel-button{
	position:relative;
}

.wrap-button{
	position:absolute;
	width:100%;
	background-color:hsla(0,0%,0%,0.5);
}

.wrap-text{
	position:absolute;
	top:35%;
	width:100%;
	color:white;
}

.wrap-text h1{
	display:inline;
}

.orange{
	color:#0052ce;
}

.read-more{
	background-color:#0052ce;
    font-weight:400;
    color:white;
    text-align:center;
    border:none;
    padding:15px 20px;
    font-size:1rem;
    border-radius:.25rem;
	margin-bottom:40px;
}

.read-more.focus, .read-more:focus{
    outline:none;
    box-shadow:none;
}

.hide{
	display:none;
}

.gallery{
	cursor:pointer;
	margin-top:20px;
	margin-bottom:30px;
  }
  
.gallery img{
	display:block;
	padding:5px;
	float:left;
	width:33.33%;
	border-radius:10px;
}

#product-hide a:hover, #service-hide a:hover, form .text-center .read-more:hover{
    color:white;
	text-decoration:none;
	background-color:orangered;
}

form .text-center .read-more{
	padding:10px 20px;
}

.col-md-auto{
	padding-right:0px;
	padding-left:0px;
}

/*Smartphone*/
@media screen and (min-width:0px) and (max-width:767px){
	
	h1{
		font-size:2rem;
	}
	
	h3{
		font-size:1.5rem;
	}
	
	h4{
		font-size:1.25rem;
		text-align:center;
		margin-top:15px;
	}
	
	p{
		font-size:0.9rem;
	}
	
	.image-home-product{
		width:60%;
	}
	
	.image-home-product-part{
		width:200px;
	}
	
	.image-all-product{
		width:50%;
		display:block;
  		margin-left:auto;
  		margin-right:auto;
	}
	
	.justify{
		text-align:justify;
	}
	
	.phone-text-center{
		text-align:center;
	}
	
	.map{
		width:100%;
		height:300px;
		margin-bottom:0px;
	}

	.justify-content-md-center {
		justify-content: center!important;
	}
	
	.rounded-home{
		width:120px;
		height:120px;
	}

	.button{
		margin:0px 40px;
	}

	.wrap-button{
		padding:10px 0px;
		top:55%;
	}

}
/*Smartphone*/

/*Tablet*/
@media screen and (min-width:768px) and (max-width:991px){
	
	.image-home-product{
		width:250px;
	}
	
	.image-home-product-part{
		width:150px;
	}
	
	.image-all-product{
		width:100%;
	}
	
	.map{
		width:100%;
		height:100%;
	}

	.justify-content-md-center {
		justify-content: center!important;
	}
	
	.rounded-home{
		width:150px;
		height:150px;
	}

	.button{
		margin:0px 80px;
	}

	.wrap-button{
		padding:15px 0px;
		top:55%;
	}

}
/*Tablet*/

/*Computer*/
@media screen and (min-width:992px){
	
	.image-home-product{
		width:300px;
	}
	
	.image-home-product-part{
		width:175px;
	}
		
	.image-all-product{
		width:100%;
	}
	
	.map{
		width:100%;
		height:100%;
	}

	.rounded-home{
		width:170px;
		height:170px;
	}
	
	.button{
	margin:0px 140px;
	}

	.wrap-button{
		padding:20px 0px;
		top:50%;
	}

}
/*Computer*/